/Test/Context/Test.Context/bin
/Test/Context/Test.Context/obj
/Test/Core/Test.Core/bin
/Test/Core/Test.Core/obj
/Test/Core/Test.Core.Interfaces/obj
/Test/Core/Test.Core.Interfaces/bin
/Test/Core/Test.Core.Models/obj
/Test/Core/Test.Core.Models/bin
/Test/.vs
/Test/Core/Tests/Test.Intergrational.Tests/bin/Debug/net6.0
/Test/Core/Tests/Test.Intergrational.Tests/obj/Debug/net6.0
/Test/Core/Tests/Test.Intergrational.Tests/obj
/Test/Core/Tests/Test.Unit.Tests/bin/Debug/net6.0
/Test/Core/Tests/Test.Unit.Tests/obj/Debug/net6.0
/Test/Core/Tests/Test.Unit.Tests/obj
/Test/Hosts/API/Test.Api/bin/Debug/net6.0
/Test/Hosts/API/Test.Api/obj
/Test/Hosts/API/Test.Api.Models/bin/Debug/net6.0
/Test/Hosts/API/Test.Api.Models/obj
/Test/Hosts/UI/Desktop/Test.App/bin/Debug/net6.0-windows
/Test/Hosts/UI/Desktop/Test.App/obj
/Test/Repository/Test.Dal/bin/Debug/net6.0
/Test/Repository/Test.Dal/obj
/Test/Repository/Test.DAL.Interfaces/bin/Debug/net6.0
/Test/Repository/Test.DAL.Interfaces/obj
/Test/Repository/Test.DAL.Models/bin/Debug/net6.0
/Test/Repository/Test.DAL.Models/obj
/Test/Repository/Tests/Test.DAL.Intergaration.Tests/bin/Debug/net6.0
/Test/Repository/Tests/Test.DAL.Intergaration.Tests/obj/Debug/net6.0
/Test/Repository/Tests/Test.DAL.Intergaration.Tests/obj
/Test/Repository/Tests/Test.DAL.Unit.Tests/bin/Debug/net6.0
/Test/Repository/Tests/Test.DAL.Unit.Tests/obj
/Test/Services/Test.BusinessLogic
/Test/Services/Test.BusinessLogic.Interfaces/bin/Debug/net6.0
/Test/Services/Test.BusinessLogic.Interfaces/obj
/Test/Services/Test.BusinessLogic.Models/bin/Debug/net6.0
/Test/Services/Test.BusinessLogic.Models/obj
/Test/Services/Tests/Test.BusinessLogic.Intergration.Tests/bin/Debug/net6.0
/Test/Services/Tests/Test.BusinessLogic.Intergration.Tests/obj
/Test/Services/Tests/Test.BusinessLogic.Unit.Tests/bin/Debug/net6.0
/Test/Services/Tests/Test.BusinessLogic.Unit.Tests/obj
/Test/Hosts/UI/WebApp/Test.WebApp/ClientApp/.angular/cache/14.0.3
