/Test/Context/Test.Context/bin
/Test/Context/Test.Context/obj
/Test/Core/Test.Core/bin
/Test/Core/Test.Core/obj
/Test/Core/Test.Core.Interfaces/obj
/Test/Core/Test.Core.Interfaces/bin
/Test/Core/Test.Core.Models/obj
/Test/Core/Test.Core.Models/bin
